/*alice base*/
@import url('./one.css');

/*views*/

#admin {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#clipper {
    padding: 20px;
    width: 128px;
    height: 128px;
    position: relative;
}

#clipper h1 {
    font-size: 24px;
    line-height: 128px;
    margin: 0;
    padding: 0;
}

#clipper .btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
